@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
:root{
    --cor-principal-um: #C9F;
    --cor-principal-dois: #F9F;
    --cor-destaque-um: #C6F;
    --cor-destaque-dois: #F6F;
}
*{
    box-sizing: border-box;
    font-size: 16px;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
header{
    background-image: linear-gradient(90deg, var(--cor-principal-um), var(--cor-principal-dois));
    height: 100vh;
    padding: 10px;

}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
}
nav.ativo{
    background-image: linear-gradient(90deg, var(--cor-principal-um), var(--cor-principal-dois));
    overflow: hidden;
}
nav a{
    font-size: 1.5em;
    text-decoration: none;
    color: #FFF;
}
nav .menu-hamburguer{
    padding: 3px;
}
.menu-hamburguer .menu{
    display: block;
    background-color: #FFF;
    width: 28px;
    height: 2px;
    margin-bottom: 7px;
}
nav .conteudo-menu{
    opacity: 0;
    width: 90%;
    display: block;
    position: absolute;
    top: 60px;    
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(90deg, var(--cor-principal-um), var(--cor-principal-dois));
    transition: 0.5s;
}
nav .conteudo-menu.ativo{
    opacity: 1;
    transition: 0.5s;
}
nav .conteudo-menu ul{
    margin: 0;
    padding: 10px;
}
nav .conteudo-menu ul li{
    list-style: none;
    height: 30px;
    margin: 5px;
}
nav .conteudo-menu ul li a{
    font-size: 1.1rem;
    font-weight: 300;
}

header .primeira-pag{
    width: 100%;;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

header .primeira-pag .texto{
    display: flex;
    background-color: rgba(255,255,255,20%);

    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 15em;
    height: 18em;
    border: 18px solid #fff;
    margin: 50% auto;
    z-index: 5;
    align-content: center;
}
header .primeira-pag .texto h1{
    font-size: 5rem;
    font-weight: 600;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
    color: #FFF;
}
.primeira-pag i{
    color: #FFF;
}
.primeira-pag i.primeira{
    font-size:3rem;
}
.primeira-pag .retangulo{
    background-color: var(--cor-destaque-um);
    width: 2000px;
    height: 250px;
    position: absolute;
    transform: rotate(-45deg);
    box-shadow: 1px 7px 13px rgb(38 3 84 / 28%);
}
.primeira-pag .retangulo.dois{
    transform: rotate(45deg);
    bottom: 0;
    box-shadow: 6px -7px 20px rgb(38 3 84 / 28%)
}
.primeira-pag img.quadrado{
    position: absolute;
    width: 450px;
    opacity: 0.2;
    bottom: 300px;
    left: 15%;
    -webkit-animation: floating-animation 6s ease-in-out infinite;
    -o-animation: floating-animation 6s ease-in-out infinite;
    animation: floating-animation 6s ease-in-out infinite;
}
.primeira-pag img.dois{
    top: 427px;
    left: -100px;
}
.primeira-pag img.triangulo{
    position: absolute;
    width: 60px;
    -webkit-animation: floating-animation 6s ease-in-out infinite;
    -o-animation: floating-animation 6s ease-in-out infinite;
    animation: floating-animation 6s ease-in-out infinite;
    animation-delay: 2s;
}
.primeira-pag img.triangulo.um{
    top: 102px;
    right: 23px;
}
.primeira-pag img.triangulo.dois{
    left: 23px;
}
.primeira-pag img.triangulo.tres{
    bottom: 115px;
    left: 290px;
}
.primeira-pag div.circulo{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px #FFF solid;
    -webkit-animation: floating-animation 6s ease-in-out infinite;
    -o-animation: floating-animation 6s ease-in-out infinite;
    animation: floating-animation 6s ease-in-out infinite;
    animation-delay: 2.5s;
}
.primeira-pag div.circulo.um{
    top: 145px;
    left: 35px;
}
.primeira-pag div.circulo.dois{
    bottom: 74px;
    left: 104px;
}
.primeira-pag div.circulo.tres{
    right: 38px;
}
@keyframes floating-animation{
    0%{
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    50%{
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    100%{
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
}

section.lista{
    overflow: hidden;
    text-align: center;
    padding: 10px;
}
section.lista h2{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
section.lista a{
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-destaque-dois);
}
section.lista p{
    display: block;
    text-align: center;
    margin: 0 auto;
    font-weight: 100;
    width: 90%;
}

section .grid-container{
    width: 90%;
    display: grid;
    margin: 5% auto;
    grid-template-columns: repeat(auto-fill, 350px);
    align-items: center;
    justify-items: center;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    justify-content: center;
    align-content: space-evenly;
}
section .grid-container .box{
    width: 100%;
    height: 210px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -1px 8px 20px rgb(139 138 141 / 36%)
}
section .box img{
    width: 50px;
    margin-bottom: 20px;
}
section .box h4, .box p{
    display: block;
    margin: 0;
}
section .box h4{
    font-family: 'Work Sans', sans-serif;
}

.feature-one{
    height: 900px;
    width: 100%;
    background-image: linear-gradient(90deg, var(--cor-principal-um), var(--cor-principal-dois));
}
.feature-one div.flex-box{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
div.flex-box div{
    color: #FFF;
    margin: 10px 0px 10px 0px;
    padding: 20px;
}
div.flex-box div h4{
    font-size: 1.5em;
    font-weight: 400;
}
div.flex-box div p{
    font-weight: 300;
}
div.flex-box div span{
    width: 150px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    border-radius: 30px;
    font-weight: 600;
    border: 1px solid #FFF;
    cursor: pointer;
}
